html
  head
    title docker: #{os.hostname()}
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')

  body
    div.container
      div.jumbotron
        h1 Hello world from node.js!

      h2 Host: #{os.hostname()}

      h2 Environment Variables
      ul
        each name in Object.keys(env)
          li
            code
              = name
              | =
              = env[name]

      h2 Network Interfaces
      ul
        - var ifs = os.networkInterfaces()
        each name in Object.keys(ifs)
          li
            code= name
            ul
              each addr in ifs[name]
                li
                  code= addr.address

